<div class="col-md-6 offset-md-3">

<h3> Create Employee </h3>

<form (ngSubmit)="onSubmit()">

  <div class = "form-group">
    <label> Emp No </label>
    <input required type="text" class = "form-control" id = "empNo"
      [(ngModel)]="employee.empNo" name = "empNo">
  </div>

  <div class = "form-group">
    <label> Emp Name </label>
    <input type="text" class = "form-control" id = "empName"
           [(ngModel)]="employee.empName" name = "empName">
  </div>

  <div class = "form-group">
    <label> Mobile </label>
    <input type="text" class = "form-control" id = "mobile"
           [(ngModel)]="employee.mob" name = "mobile">
  </div>

  <div class = "form-group">
    <label> Email </label>
    <input type="text" class = "form-control" id = "email"
           [(ngModel)]="employee.email" name = "email">
  </div>

  <button class = "btn btn-success" type="Submit">Submit</button>

</form>

</div>
